/*DECLARACIÓN DE VARIABLES GLOBALES*/

:root{
    --color-primario: #258a22;
    --color-secundario: #87b608;
    --color-background: #F9F8F5;
    --color-sombras: #e1f5ac;
    --color-texto: #A1A5A6;
    --color-titulo: #023102;
    --text-dafault: 'Open Sans';
    --color-parrafos: #4b4e4b;

}

/*ESTILOS GENERALES*/

*{
    margin: 0;
    padding: 0;
    /*Respetar el tamaño definido para los Box*/
    box-sizing: border-box;
    font-family: var(--text-dafault);
}

html{
    scroll-behavior: smooth;
}

body{
    background: var(--color-background);
}

.seccion-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem 1rem;
  max-width: 360px;
  margin: 0 auto;
}

h1, h2, .seccion-principal h2 {
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 0.5rem;
}

.btn-principal {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 1.5rem 1rem;
  background: #ffffff;
  border: 1.5px solid #3b9ede;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  color: #1a1a1a;;
}

.btn-principal:hover {
  background: #f0f8ff;
}

.btn-principal i {
  font-size: 2rem;
  color: #3b9ede;
}