<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../lib/FontAwesome/css/all.min.css">
    <link rel="shortcut icon" href="../img/Logo.jpg">
    <title>Bienvenido a Trovalo App</title>

</head>
<body>
    <h1>Directorio para la Contratación de Servicios</h1>
    <h2>Bienvenido a Trovalo App</h2>
    <div class="seccion-principal">
        <h2>¿Cómo deseas ingresar?</h2>
        <a class="btn-principal" href="main-cliente.html">
            <i class="fa-solid fa-circle-user"></i>
            Soy Cliente
        </a>

        <a class="btn-principal" href="main-prestador.html">
            <i class="fa-solid fa-briefcase"></i>
            Soy Prestador de Servicio
        </a>
</div>
</body>
</html>